<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Express Cookie Sample</title>
  </head>
  <body>
    <h2>Login<h2>
    <div class="create">
      <form method="post" action="{{{loginUrl}}}">
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
